/.DS_Store
/data+analysis/.DS_Store
/data+analysis/.Rhistory
/node_modules/
/data+analysis/02-data-exploration_cache/
/data+analysis/02-data-exploration_files/
/data+analysis/01-pilots-1ab-choose-explain/.Rhistory
/data+analysis/01-pilots-1ab-choose-explain/02-data-exploration_cache/
/data+analysis/01-pilots-1ab-choose-explain/02-data-exploration_files/
/data+analysis/02-pilot-2b-cer-iterated/.DS_Store
/data+analysis/04-pilot-04-choose-explain-advice/.Rhistory
/experiments/.DS_Store
/data+analysis/01-pilots-1ab-choose-explain/02-data-exploration-P1.html
experiments/pilot-indirectSource-V2/.DS_Store
experiments/pilot-indirectSource/.DS_Store
